[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/asyncplusplus"]
	path = external/asyncplusplus
	url = https://github.com/Amanieu/asyncplusplus.git
